<header id="main_header">
    <span id="logo"><img src="./src/public/img/logo.jpg" alt=""></span>
    <nav id="nav">
        <ul id="menu">
            <li><a href="">Inicio</a></li>
            <li><a href="">Diario</a></li>
            <li><a role="link" aria-disabled="true">Colección</a></li>
        </ul>
    </nav>
</header>